*.class

# Package Files #
*.jar
*.war
*.ear

.metadata/.lock

.metadata/.log

*.index

*.version

*.tree

*.resources

*.prefs

*.xmi

*.xml

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache

*.txt

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

*.dat

*.history

*.ini

jAudio/jAudio/bin/.gitignore

*.AudioFileReader

*.FormatConversionProvider
