<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/KeyRecognition/src/cs_440/keyacoustics/database/ConnectToDatabase.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cs_440.keyacoustics.database.ConnectToDatabase"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="KeyRecognition"/>
</launchConfiguration>
