<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Jahmm/src/be/ac/ulg/montefiore/run/jahmm/test/SimpleExample.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="be.ac.ulg.montefiore.run.jahmm.test.SimpleExample"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Jahmm"/>
</launchConfiguration>
